body{
    background-color:azure;
    padding: 0px;
    margin: 0px;


}

.container{
    display: flex;
    justify-content: space-between;
    background-color:  #3e7f8d;    

}


.logo{
    display: flex;
    justify-content: space-between;
}


.menu{
    display: flex;
    margin-top: 25px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    font-family: Curely, sans-serif;
    font-size: 30px;
    
    
}

.menu a{
    margin-top: 10px;
    border-radius: 20px;
    padding: 10px 15px 15px 15px;
    color: whitesmoke;
    text-decoration: none;
}

.menu a:hover{
    background-color: #f5dbd7;
    color: #1e7387;
}

.social{
    display: flex;
    justify-content: space-between;
    height: 50px;
}
.fb:hover{
    opacity: 0.7;
}
.ins:hover{
    opacity: 0.7;
}


/* BARRA DE PESQUISA */
.pesquisa{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.pesquisa input[type=text]{
    display: flex;
    justify-content: center;
    width: 700px;
    height: 30px;
    border-radius: 20px;
    border: solid whitesmoke 3px;
    background-color: #f0d6ca;
    color: whitesmoke;
}
.pesquisa ::placeholder{
    color: rgb(181, 181, 181)
}

.pesquisa input[type=submit]{
    margin-top: 1px;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    border-radius: 20px;
    background-color: #3e7f8d;
    color: whitesmoke;

    border: #3e7f8d 3px solid;
    background-image: url("../icons/icons8-search-50.png");
    background-size: 25px;
    background-repeat: no-repeat;
    padding:15px 15px 15px 15px;
    height: 30px;
    width: 30px;
}

.pesquisa input[type=submit]:hover{
    opacity: 0.7;
}

/* TEXTO RI */
.a99{
    display: flex;
    justify-content: center;
}
h1{
    color:#3e7f8d;
    font-family: Curely, sans-serif;
}
.h1-class{
    font-family: Curely, sans-serif;
    color:#3e7f8d;
}

/* tratamento do slideshow */
.mySlides{display: none}

.slideshow-container{
   display: flex;
    position: relative;
    justify-content: center;
    max-width: auto;
}
.slideimg{
    border-radius: 30px;

}
.numbertext{
    color: #3e7f8d;
    font-size: 18px;
    padding: 10px 10px;
    position:absolute;
    top: 0;
}

.text{
    color:whitesmoke;
    font-size: 22px;
    padding: 10px 10px;
    position: absolute;
    bottom: 8px;
    width: 100px;

}
.dot{
    height: 20px;
    width: 20px;
    background-color: whitesmoke;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active{
    background-color: gray;
}

.fade{
    animation-name: fade;
    animation-duration: 1.5;
}
/* aqui escrevo */
.texto-receita{
    font-family: curely;
    font-size: 40px;
    color: #1e7387;
    text-align: center;
}

/*RECEITAS BOX*/
.container-receitas{
    display: flex;
    justify-content: space-around;
    align-items:center ;
    font-size: 25px;
    color: #1e7387;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-style: italic;
    margin-bottom: 90px;
    font-family: Curely, sans-serif;
}
.receita-imagem{
    border-radius: 50%;
}
/*rodape pagina*/
.rodape-container{
    float: left;
    margin: left 20%;
    font-size: medium;
    align-items: center;
}

.map h1, p{
    color: beige;
    display: flex;
    align-content: center;

}

.rodape{
    font-size: 22px;
    color: beige;
    display: flex;
    justify-content: left;
    height: 300px;
    width: auto;
    background-color: #1e7387;
}
.rodape text{
    margin-top: 250px;
}

.rodape a{
    align-content: center;
    font-size: 22px;
    color: #f0d6ca;
    text-decoration: none
}
.text{
    align-content: center;
}



@keyframes fade{
    from {opacity:0,4;}
    to {opacity:1;}
}
    
@import url('https://fonts.cdnfonts.com/css/curely');