.container_receitas{
    background-color: aliceblue;
    border-radius: 5px;
    font-size: 20px;
    color: #1e7387;
    font-family: Curely, sans-serif;
}

.preparo:hover{
    opacity: 0.7;
    transition: 0,2;
}